*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
}

.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.top{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-bottom: 70px;
    margin-top: 10px;
}

.header ,
.footer{
    background-color: #1F2937;
}

.mid {
    display: flex;
    column-gap: 130px;
    margin-bottom: 70px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 20px;
}

.fao{
    font-size: 24px;
    color: #F9FAF8;
}

.seco{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.thirdo{
    font-size: 18px;
    color: #E5E7EB;
}

.sign{
    background-color: #007bff;
    color: #F9FAF8;
    padding: 2px 8px;
    border-radius: 8px;
    border: none;
}

.text{
    max-width: 420px;
}

img{
    max-width: 500px;
    min-width: 500px;
    max-height: 180px;
}

.first{
    display: flex;
    flex-direction: column;
}

.mbili{
    display: flex;
}

.box{
    padding: 50px;
    border: 2px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    flex: 1 1 auto;
}

.box1{
    text-align: center;
    max-width: 140px;
    max-height: 230px;
}

.moja,
.mbili{
    display: flex;
    justify-content: center;
}

.rando{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 16px 0;
}

.mbili{
    column-gap: 32px;
    margin-bottom: 64px;
}

.second{
    background-color: #cfd0d3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    color: #5d636c;
}

.nne {
    max-width: 600px;
    margin-top: 100px;
}

.tano{
    margin-bottom: 100px;
    max-width: 600px;
    min-width: 600px;
    text-align: right;
}


.third{
    display: flex;
    justify-content: center;
}

.gropie{
    background-color: #1c6ec7;
    display: flex;
    color: #E5E7EB;
    margin: 100px 0;
    font-size: 20px;
    min-width: 750px;
    min-height: 80px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.bld{
    font-weight: bold;
}

.sign1{
    border-radius: 7px;
    border-color: #E5E7EB;
    border-style: solid;
    padding: 2px 10px;
    background-color: #1c6ec7;
    color: #F9FAF8;
}

.footer{
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}